* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.change-password-card {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.change-password-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #192838;
    font-weight: bold;

    margin-bottom: 5px;
}

.form-group input[type="password"] {
    width: calc(100%); 
    background-color: white;
    color: #192838;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.edit-button {
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-button,
.cancel-button {
    width: 45%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 600;
}

.save-button {
    background-color: #6c63ff;
    color: white;
}

.save-button:hover {
    background-color: #574bff;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

.cancel-button:hover {
    background-color: #bbb;
}
